@charset "UTF-8";
/*=========================================
============ GENERIC STYLES ===============
=========================================*/
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  background-color: #FFFFFF;
  color: #666666; }
  body * {
    box-sizing: border-box; }
  body a {
    text-decoration: none;
    transition: all linear 0.3s;
    color: #666666; }
    body a:hover {
      color: #b30000; }

/********
TYPORGRAPHY
*********/
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 750; }

h1 {
  font-size: 48px;
  line-height: 1.25em; }

h2 {
  font-size: 36px;
  line-height: 1.25em; }

h3 {
  font-size: 28px;
  line-height: 1.25em; }

h4 {
  font-size: 18px;
  line-height: 1.25em; }

h5 {
  font-size: 16px;
  line-height: 1.25em; }

h6 {
  font-size: 16px;
  line-height: 1.25em; }

p {
  max-width: 800px;
  margin: 0;
  margin-bottom: 25px; }

.text-center {
  text-align: center; }

.underlined {
  text-decoration: underline; }

/********
LISTS
*********/
ul.unstyled {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.inline li {
  display: inline; }

/********
IMAGES
*********/
.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto; }

/********
LAYOUTS
*********/
section, header, footer {
  width: 100%;
  padding: 50px; }
  section .container, header .container, footer .container {
    margin: 0 auto;
    width: 100%;
    max-width: 1300px; }

.margin-centered {
  margin: 0 auto; }

.center-this {
  display: flex;
  justify-content: center; }

.flex-grid {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden; }
  .flex-grid .col {
    flex: 1; }
    .flex-grid .col.col-1 {
      flex-basis: 8.33%; }
    .flex-grid .col.col-2 {
      flex-basis: 16.66%; }
    .flex-grid .col.col-3 {
      flex-basis: 25%; }
    .flex-grid .col.col-4 {
      flex-basis: 33.33%; }
    .flex-grid .col.col-5 {
      flex-basis: 41.66%; }
    .flex-grid .col.col-6 {
      flex-basis: 50%; }
    .flex-grid .col.col-7 {
      flex-basis: 58.33%; }
    .flex-grid .col.col-8 {
      flex-basis: 66.66%; }
    .flex-grid .col.col-9 {
      flex-basis: 75%; }
    .flex-grid .col.col-10 {
      flex-basis: 83.33%; }
    .flex-grid .col.col-11 {
      flex-basis: 91.66%; }
    .flex-grid .col.col-12 {
      flex-basis: 100%; }

/********
BUTTONS
*********/
.btn {
  min-width: 200px;
  min-height: 50px;
  border: none;
  border-radius: 3px;
  transition: all linear 0.3s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
  margin-bottom: 10px;
  margin-right: 10px; }
  .btn.btn-primary {
    background-color: #b30000; }
    .btn.btn-primary:hover {
      color: #b30000;
      background-color: #FFF; }
  .btn.btn-secondary {
    background-color: #00000c; }
    .btn.btn-secondary:hover {
      background-color: #FFF;
      color: #00000c; }

/*========================================
============ HEADER STYLES ===============
=========================================*/
header {
  width: 100%;
  background: #fafafa;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: row;
  top: 0;
  z-index: 999999;
  padding: 0px 50px; }
  header .logo-container a {
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
  @media (max-width: 700px) {
    header .nav-left-container nav .menu-main-container {
      display: none; }
    header .nav-left-container nav #mobileNavToggle {
      display: inline-block !important; } }
  header .nav-left-container nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end; }
    header .nav-left-container nav ul li {
      display: inline;
      margin-right: 10px; }
    header .nav-left-container nav ul .sub-menu {
      display: none; }
  header .nav-left-container nav #mobileNavToggle {
    display: none;
    font-size: 37px;
    color: #666666; }
    header .nav-left-container nav #mobileNavToggle:hover {
      color: #b30000;
      cursor: pointer; }
  @media (max-width: 700px) {
    header .nav-right-container nav .menu-main-container {
      display: none; }
    header .nav-right-container nav #mobileNavToggle {
      display: inline-block !important; } }
  header .nav-right-container nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start; }
    header .nav-right-container nav ul li {
      display: inline;
      margin-right: 10px; }
    header .nav-right-container nav ul .sub-menu {
      display: none; }
  header .nav-right-container nav #mobileNavToggle {
    display: none;
    font-size: 37px;
    color: #666666; }
    header .nav-right-container nav #mobileNavToggle:hover {
      color: #b30000;
      cursor: pointer; }

#mobileNav.overlay {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 999999;
  left: 0;
  top: 0;
  background-color: #262626;
  background-color: rgba(38, 38, 38, 0.9);
  overflow-x: hidden;
  transition: 0.5s; }
  #mobileNav.overlay .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px; }
    #mobileNav.overlay .overlay-content ul {
      list-style-type: none;
      margin: 0;
      padding: 0; }
  #mobileNav.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #FFF;
    display: block;
    transition: 0.3s;
    font-weight: 750;
    transition: all linear 0.3s;
    border: none; }
    #mobileNav.overlay a:hover {
      color: #b30000; }
  #mobileNav.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px; }

/*=========================================
============ FOOTER STYLES ================
=========================================*/
footer {
  min-height: 300px;
  background-color: #fafafa; }

#copyright-container {
  width: 100%;
  float: left;
  background-color: #000;
  text-align: center;
  padding: 25px 0px;
  color: #FFF; }
  #copyright-container a {
    color: #b30000; }
    #copyright-container a:hover {
      color: #FFF; }

/*=========================================
=========== HOMEPAGE STYLES ===============
=========================================*/
/*=========================================
========= SOCIAL ICONS STYLES =============
=========================================*/
@font-face {
  font-family: 'icomoon';
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.eot?3qkin2");
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.eot?#iefix3qkin2") format("embedded-opentype"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.woff?3qkin2") format("woff"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.ttf?3qkin2") format("truetype"), url("fhttps://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.svg?3qkin2#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

.social-networks {
  margin: 0 0 35px;
  padding: 0;
  font-size: 0; }
  .social-networks li {
    display: inline-block;
    margin: 10px; }
  .social-networks a {
    display: block;
    position: relative;
    margin: 0 7px;
    width: 68px;
    height: 68px;
    font-size: 0;
    line-height: 0;
    text-align: center;
    text-decoration: none;
    border: none; }
    .social-networks a:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      margin-top: -50%;
      margin-left: -50%;
      border-radius: 100px;
      background-color: #1f2027;
      transition: all 400ms; }
    .social-networks a:after {
      position: relative;
      display: block;
      font-family: 'icomoon';
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      color: #fff;
      font-size: 26px;
      line-height: 66px; }
    .social-networks a:hover, .social-networks a:focus {
      text-decoration: none; }
  .social-networks.spin-icon a:hover:after, .social-networks.spin-icon a:focus:after {
    transition: transform 0.4s ease-out;
    transform: rotateZ(360deg); }
  .social-networks.square a:hover:before, .social-networks.square a:focus:before {
    border-radius: 0; }
  .social-networks.bounce a:hover, .social-networks.bounce a:focus {
    animation: bounce 1s; }
  .social-networks .icon-linkedin:after {
    content: ""; }
  .social-networks .icon-linkedin:hover:before, .social-networks .icon-linkedin:focus:before {
    background: #0077b5; }
  .social-networks .icon-facebook:after {
    content: ""; }
  .social-networks .icon-facebook:hover:before, .social-networks .icon-facebook:focus:before {
    background: #3b5998; }
  .social-networks .icon-twitter:after {
    content: ""; }
  .social-networks .icon-twitter:hover:before, .social-networks .icon-twitter:focus:before {
    background: #00b0ed; }
  .social-networks .icon-github:after {
    content: ""; }
  .social-networks .icon-github:hover:before, .social-networks .icon-github:focus:before {
    background: #4183c4; }
  .social-networks .icon-instagram:after {
    content: ""; }
  .social-networks .icon-instagram:hover:before, .social-networks .icon-instagram:focus:before {
    background: #3f729b; }
  .social-networks .icon-vimeo:after {
    content: ""; }
  .social-networks .icon-vimeo:hover:before, .social-networks .icon-vimeo:focus:before {
    background: #1ab7ea; }
  .social-networks .icon-twitch:after {
    content: ""; }
  .social-networks .icon-twitch:hover:before, .social-networks .icon-twitch:focus:before {
    background: #6441a5; }
  .social-networks .icon-pinterest:after {
    content: ""; }
  .social-networks .icon-pinterest:hover:before, .social-networks .icon-pinterest:focus:before {
    background: #cc2127; }

@keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0); }
  40% {
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -6px, 0); }
  70% {
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -4px, 0); }
  90% {
    transform: translate3d(0, -2px, 0); } }
